<%= form_for :candidate, url:candidates_path do |f| %>
	<p>
	  <strong>ID:</strong>
	  <%= @candidate.id %>
	</p>
  <p>
    <%= f.label :name %>: <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update", :onclick => "return confirm('Edit?')" %>
  </p>
<% end %>
