
<%=form_tag batch_update_candidates_path, :method=>:put, :multipart=>true do %>

<h1>Listing candidates</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Vote Num</th>
  </tr>
	  <% for  candidate in @candidates %>
	  	
		 <tr>
		 <td><%=candidate.id %></td>
		 <td><%=candidate.name %></td>
		 	<td>
		    <%=fields_for("candidate_ids[]", candidate) do |f| %>
		     <%=f.text_field :votenum  %>
		     <% end %>
		     </td>
		 </tr>

	  <% end %>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr> <td colspan="4"><p><%=submit_tag "Save All"%></p></td></tr>
</table>

<% content_for(:head) do %>
  <%= javascript_include_tag 'candidates.js' %>
<% end %>

<% end %>