
<%=form_tag 'main',:name => 'mainform' do %>
<h1>Listing candidates</h1>
 
<table>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Name</th>
    <th>Vote Num</th>
    <th>Vote</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <% @candidates.each do |candidate| %>
    <tr>
      <td><%= check_box_tag "candidates[]", candidate.id %></td>
      <td><%= candidate.id %></td>
      <td><%= candidate.name %></td>
      <td><%= candidate.votenum %></td>
      <td><%= link_to "Vote #{candidate.name}",{:controller => :candidates, :action => :update, :id => candidate.id },:method => :put %> </td>
  <!--     <td><%= button_to "Vote #{candidate.name}",:id => candidate.id %> </td> -->
      <td><%= link_to "delete", {:controller => :candidates, :action => :destroy, :id => candidate.id }, :method => :delete %></td>
      <td><%= link_to "edit", {:controller => :candidates, :action => :edit, :id => candidate.id }, :method => :get %></td>
    </tr>
  <% end %>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="" id="delete_selected" onclick="beforesubmit(this);" >delete selected</a></td>
   <!--  <td><p><%=button_to "delete selected", {:controller => :candidates, :action => 'batch_delete' }, :method => :delete %></p></td> -->
    <!-- <a href="javascript:beforesubmit();" data-method='delete' >Delete selected</a> -->
<!--     <input type="button" value="Delete selected" onclick = beforesubmit($("form[name='mainform']")) /></td> -->
    <td><a href="" id="edit_selected" onclick="beforesubmit(this);" >edit selected</a></td>

  </tr>
  <tr> <td colspan="4"><p><%=link_to "Add Candidates", new_candidate_path %></p></td></tr>
</table>

<% content_for(:head) do %>
  <%= javascript_include_tag 'candidates.js' %>
<% end %>

<% end %>

