<%= form_for :candidate, url:candidates_path do |f| %>
  <p>
    <%= f.label :name %>: <%= f.text_field :name %>
  </p>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <p>
    <%= f.submit "Save", :onclick => "return confirm('Sure?')" %>
  </p>
<% end %>