<p>
  <strong>ID:</strong>
  <%= @candidate.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</p>
 
<p>
  <strong>votenum:</strong>
  <%= @candidate.votenum %>
</p>

<p><%=link_to "Back to List", candidates_path %></p>

